html {
  margin: 0;
  padding: 0;
}

h1 {
  color: green;
}

.centerbox {
  width: 50%;
  height: 20%;
  margin: auto;
  padding: 10px;

  border: 1px solid black;
  text-align: center;
}

.link-button {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  transition: 1s;
}

.link-button:hover {
  background-color: gray;
}
